version: '3.8'
services:
  frontend:
    build: ./frontend
    ports: ["3000:3000"]
  api:
    build: ./backend
    env_file: .env
    depends_on:
      - db
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: foodfound_db